.book{
    font-size: 30px;
    gap: 30px;
}
#ff{
    justify-content: center;
    text-align: center;
}
body{
    background-color: #444;
}
.block{
   font-size: 40px;
}
.border{
    font-size: large;
}
.py-2{
    font-size: large ;
}